  /* Estilos adicionales para hacer el mapa más responsive */
  #map-container {
    width: 70%;
    height: 60vh; /* Ajusta la altura según tus necesidades */
    max-height: 400px; /* Altura máxima */
    margin: 0 auto; /* Espacio inferior entre el mapa y las tarjetas */
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width: 576px) {
    #map-container {
        height: 50vh; /* Ajusta la altura para pantallas pequeñas */
    }
}
img.huechange {
    filter: hue-rotate(120deg);
}

img.huechange.clicked {
    filter: hue-rotate(30deg);
    /* Cambia el color al hacer clic */
}

img {
    height: 50px;
    width: 50px;
}

/* Estilo para el contenedor de tarjetas */
#card-container {
    display: flex;
    flex-wrap: nowrap;
    /* No permitir que las tarjetas se envuelvan en la siguiente línea */
    overflow-x: auto;
    /* Agregar una barra de desplazamiento horizontal si las tarjetas no caben en el contenedor */
    padding-bottom: 20px;
    /* Espaciado para la barra de desplazamiento */
}


.icon-container{
    text-align: center;
    margin-top: 10px;
}
.icon:hover {
    transform: scale(1.2);
}