  #map-container {
    width: 70%;
    height: 60vh;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width: 576px) {
    #map-container {
        height: 50vh; 
    }
}

.icon, .card-icon, .logo {
    height: 50px;
    width: 50px;
}

.icon-container{
    text-align: center;
    margin-top: 10px;
}
.icon:hover {
    transform: scale(1.2);
    
}
.small {
    height: 25px;
    width: 25px;
}